


header{
    background-image:linear-gradient(90deg, rgb(0, 255, 55), rgba(255,238,0,1));
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    margin-bottom: 10px;
}
header nav{
    text-align: center;
}

header nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    margin: 0px 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    
}

header nav ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    border-radius: 10px;
}

nav > ul{
    display: flex;
    list-style-type: none;
}

nav ul li ul{
    width: 100px;
    background-color: blanchedalmond;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    display: none;
}

nav ul li ul li a{
    display:inline-block;
    padding: 0px;
    width: 100%;
    color: red;
    margin: 0px;
    padding: 10px 0px;
}

nav ul li{
    position: relative;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a:hover{
    background-color: gray;
    color: white;
}




footer p{
    padding: 10px;
    background-image:linear-gradient(90deg, rgb(0, 255, 55), rgba(255,238,0,1));
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-variant: small-caps;
    clear: both; 
}

 main div{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 10px;
    
}


main figure img{
    width: 100%;
}
main{
    display: flex;
}

main div{
    flex-basis: 2.5fr;
}







aside{
    width: 320px;
    flex-grow: 1;
    /*float: right;*/
    
    /*background-color: hsl(177, 51%, 60%);*/
    

    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin: 15px 15px 0px 15px;
}

aside{
    background: url(../images/canada.jpg);
    background-size: cover;
}
@media (max-width:500px){
    header{
        display: inline-block;
    }
    header nav a{
        text-align: center;
        max-width: max-content;
        padding: 2px;
        margin: 3px;
        
    }
    header nav ul li ul li a{
        max-width: max-content;
        padding: 2px;
        margin: 3px;
    }
}

@media (max-width:1000px){
    main aside{
        border: 3px solid blue;
        background: rgb(92, 155, 194);
    }
}

@media(max-width:520px){
    main{
        margin-left: 0px;
        max-width: max-content;
        display: inline-block;
    }
    main div figure img{
        width: 85%;
    }

    main aside{
        width: 75%;
    }
}




aside h2{
    margin-left: 15px;
}

ul{
    list-style-type: none;
}

ul li a:hover{
    background-color: aqua;
    border-radius: 5px;
}